.test-plugin {
    width: 100%;
    height: 100%;
    display: flex;
}

.card-list {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.card {
    background: rgb(207, 207, 207);
    width: 100%;
    margin-bottom: 5px;
    margin-right: 5px;
}